{% extends "base.html" %}

{% block title %}password change{% endblock %}

{% block content %}

<div>
    <h1>Change Password</h1>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correct.</p>

    {% if form.new_password1.help_text %}
        <div>
            <p>{{ form.new_password1.help_text|safe }}</p>
        </div>
    {% endif %}

    <form action="." method="post">
        {% csrf_token %}
        <div>
            <label>
                <div>
                    {{ form.old_password }}
                </div>
            </label>
        </div>
        <div>
            <label>
                {{ form.new_password1.label_tag }}
            </label>
            <div>
                {{ form.new_password1 }}
            </div>
        </div>
        <div>
            <label>
                {{ form.new_password2.label_tag }}
            </label>
            <div>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="Change my password">
        </div>
    </form>
</div>

{% endblock %}
